<nav>
  <li><h1> ChoreTracker </h1>
  <img id="clipboard" src="images/clipboard.png">
  <li><a href='/'>
     <div id="add_kid_link">
       <img src="images/arrow.png"> <p style="font: 2.5em 'Oswald', sans-serif;"> home page
       </p>
     </div></a>
  </li>
</nav>

<form class="content" action="/add_kid" method="POST">

  <br>
  <br>
  <br>
  <br>
  <h2> Add kid: </h2>
  <p style="font: 2.5em 'Oswald', sans-serif;">kid name: <input class="text" type="text" name="kidname"></p>

  <br>
  <br>
  <input class="submit" type="submit" class="btn btn-primary">      
</form>

